<div *ngIf="twitterApp.length>0">
<div class="card" style="width: 50rem;margin-left: 19rem;" *ngFor="let app of twitterApp">

    <div class="card-body">
        <p><b> {{app.userName}}</b>
            <button (click)="deletepost(app.twitterId)" type="button" class="btn btn-light" style="margin-left: 37rem;">Remove Post</button>
        </p>


        {{app.content}}
    </div>
    <img src="http://localhost:9090/{{app.imagePath}}" alt="Girl in a jacket" style="
    width: 36rem;
    margin-left: 8rem;"><br><br>
    <p style="
    margin-left: 3rem"> {{app.likeCount}} Like</p>
    <p><button (click)="addLike(app.twitterId)" type="button" class="btn btn-light" style="margin-left: 2rem;">Like</button>




        &nbsp;&nbsp;&nbsp;&nbsp;
</div>
</div>

<div *ngIf="twitterApp.length == 0">
    <div class="card-body" style="text-align: center;">
        <h3 class="card-title">No Post Avalible here....</h3>
        <p class="card-text">Add Posr Please Click here</p>
        <a href="/addpost" class="btn btn-primary">Add Post</a>
      </div>
</div>